* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  background-color: lightblue;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.mainTitle {
  background-color: lightgrey;
  color: white;
  font-size: 30px;
  padding: 15px;
}

.link {
  color: red;
  padding: 10px;
}
.text {
  margin-top: 10px;
}
