* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  background-color: lightblue;
}

.mainTitle {
  background-color: gray;
  color: white;
}
